* {
  text-align: center;
}

.navbar {
    display: block;
    padding: 8px;
    background-color: #991c1c;
    list-style-type: none;
    border-right: 1px solid #000;
}

.navbar a {
  padding-left: 100px;
  padding-right: 100px;
  text-decoration: none;
  text-shadow: 3px 3px 5px green;
  text-transform: uppercase;
  font-size: larger;
}

.candle {
  background-image: URL("./360_F_207329370_fQD7sPgHZxfmSiYjdyfpIz4ugqA3Oieu.jpg");
  height: 400px;
  background-position: center;
  padding-top: 5px;
  color: white;
  border: 1px solid white;
}
