* {
  text-align: center;
}



.candle {
  background-image: URL("./360_F_207329370_fQD7sPgHZxfmSiYjdyfpIz4ugqA3Oieu.jpg");
  height: 400px;
  background-position: center;
  padding-top: 25px;
  color: white;
}
