body{
    background-color: whitesmoke;
}

h1{
    text-align: center;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.space{
    /* -webkit-mask-image: linear-gradient(black, transparent); */
    mask-image: linear-gradient(black, transparent);
    height: 600px;
    object-fit: cover;
    margin-top: 47px;
    margin-left: -10px;
    margin-right: -10px;  
}



ul{
    position: fixed;
    top: -17px;
    left: -40px;
    width: 100%;
    background-color: black;
    z-index: 1;
}

li {
    float: left;
    padding: 15px 30px;
    background-color: green;
    border-right: 1px solid blanchedalmond;
    display: inline;
}


.button1{
    background-color: black;
    color: white;
    text-align: center;
}

.button1:hover  {
    background-color: green;
    cursor: pointer;
}


.button2{
    background-color: black;
    color: white;
    text-align: center;
}

/* If under the current tab the color stays green. */
.button2selected {
    background-color: green;
    color: white;
    text-align: center;
}

.button2:hover  {
    background-color: green;
    cursor: pointer;
}


.button3{
    background-color: black;
    color: white;
    text-align: center;
}

.button3selected {
    background-color: green;
    color: white;
    text-align: center;
}

.button3:hover  {
    background-color: green;
    cursor: pointer;
}


/* Remove underline and blue/ purple color of link */
a{
    text-decoration: none;
    color: white;
}

.callCenter {
    color: black;
    font-size: 20px;
}

